{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block title %}Hello FormController!{% endblock %}

{% block stylesheets %}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <h1>Form </h1>
{#    {{ form(form) }}#}

    {{ form_start(form, {attr: {novalidate: 'novalidate'}} ) }}
        {{ form_row(form.message) }}
        {{ form_row(form.entreprise) }}

    <div>
        {{ form_label(form.dateperso) }}
        {{ form_widget(form.dateperso) }}
        {{ form_help(form.dateperso) }}
        {{ form_errors(form.dateperso) }}
    </div>


    {{ form_end(form) }}



{% endblock %}
