{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <style>
         body {
             background-color: green;
         }
     </style>
 {% endblock %}
{% block body %}
    <p>page template => helper pour twig</p>
    <p>{{ user.nom }}</p>
    <p>{{ user.email }}</p>

{#    {{ app.user }} #}
{#    {{ dump(app.request) }}#}
{#    {{ dump(app.environment) }}#}
{#    {{ dump(app.session) }}#}
{#    {{ dump(app.flashes) }}#}
    {{ dump(app.request.method) }}
    {{ include('partials/jacky.html.twig') }}
    {{ include('partials/jacky.html.twig') }}
    {{ include('partials/jacky.html.twig') }}
{% endblock %}



{% block title %} Hello TemplateController! {{ parent() }}{% endblock %}