<form method="post" action="{{ path('app_weed_delete', {'id': weed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ weed.id) }}">
    <button class="btn">Delete</button>
</form>
