{% extends 'base.html.twig' %}

{% block title %}Edit Weed{% endblock %}

{% block body %}
    <h1>Edit Weed</h1>

    {{ include('weed/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_weed_index') }}">back to list</a>

    {{ include('weed/_delete_form.html.twig') }}
{% endblock %}
