{% extends 'base.html.twig' %}

{% block title %}Weed index{% endblock %}

{% block body %}
    <h1>Weed index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Dosage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weed in weeds %}
            <tr>
                <td>{{ weed.id }}</td>
                <td>{{ weed.title }}</td>
                <td>{{ weed.dosage }}</td>
                <td>
                    <a href="{{ path('app_weed_show', {'id': weed.id}) }}">show</a>
                    <a href="{{ path('app_weed_edit', {'id': weed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_weed_new') }}">Create new</a>
{% endblock %}
