{% extends 'base.html.twig' %}

{% block title %}New Weed{% endblock %}

{% block body %}
    <h1>Create new Weed</h1>

    {{ include('weed/_form.html.twig') }}

    <a href="{{ path('app_weed_index') }}">back to list</a>
{% endblock %}
