{% extends 'base.html.twig' %}

{% block title %}Weed{% endblock %}

{% block body %}
    <h1>Weed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weed.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ weed.title }}</td>
            </tr>
            <tr>
                <th>Dosage</th>
                <td>{{ weed.dosage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_weed_index') }}">back to list</a>

    <a href="{{ path('app_weed_edit', {'id': weed.id}) }}">edit</a>

    {{ include('weed/_delete_form.html.twig') }}
{% endblock %}
