{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
    <h1>Liste des animaux</h1>
    <a href="{{ path('app_add_animal') }}">Ajouter un animal</a>
    {% for animal in animals %}
        <div>
            <h2>{{ animal.title }}</h2>
            <p>{{ animal.latin }}</p>
            <p>{{ animal.description|nl2br }}</p>
            <p>{{ animal.createdAt | date('d/m/Y') }}</p>
            <ul>
                <li><a href="{{ path('app_single_animal', { id: animal.id }) }}">Voir détails</a></li>
                <li><a href="{{ path('app_edit_animal', { id: animal.id }) }}">Editer</a></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
