{% extends 'base.html.twig' %}

{% block title %}{{ animal.title }}{% endblock %}

{% block body %}
    <div>
        <h2>{{ animal.title }}</h2>
        <p>{{ animal.latin }}</p>
        <p>{{ animal.description|nl2br }}</p>
        <p>{{ animal.createdAt | date('d/m/Y') }}</p>
    </div>
{% endblock %}