{% extends 'base.html.twig' %}

{% block title %}Page home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>{{ mes }}</p>
    <ul>
        {% for fruit in fruits %}
            <li>{{ fruit|capitalize }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
