<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ absolute_url(asset('asset/img/logo.png')) }}" width="100px" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('test1') }}">test1</a></li>
                    <li><a href="{{ path('app_weed_index') }}">Weed</a></li>
                    <li><a href="{{ path('app_animal') }}">Animal</a></li>
                    <li><a href="{{ path('app_test_animal') }}">Test Animal</a></li>
                    <li><a href="{{ path('app_form') }}">Form</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="{{ path('test2') }}">test2</a></li>
                    <li><a href="{{ path('test3') }}">test3</a></li>
                    <li><a href="{{ url('test3') }}">test3</a></li>
                    <li><a href="{{ path('test4', {id: 4454, slug: 'jhkjhkj'}) }}">test4</a></li>
                    <li><a href="{{ path('app_template') }}">template</a></li>
                </ul>
            </nav>
        </header>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ render(controller('App\\Controller\\DefaultController::getTheNameOfTheAuthor')) }}

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
